body, html {
  background: var(--main-color) !important;
}

li {
  padding: 5px;
  margin: 5px;
  background: var(--accent-color);
}
button:focus {
  outline: 0 !important;
}

.bg-hexbutt {
  background: var(--main-color);
}

.bg-pdp {
  background: var(--secondary-color) !important;
}

/* color pallete:

hexahedral butterscotch
#FDB147
peridotic dark plum
#3F012C
screaming deep aqua
#08787F

*/

:root {
  --main-color: #FDB147;
  --secondary-color: #3F012C;
  --accent-color: #08787F;
}

#jumbotron {
  /* border-bottom: 3px solid black; */
  background-color: var(--accent-color);
  background-image: 
    /* linear-gradient(#00000023, var(--secondary-color)54),  */
    url(../images/jumbotron-burger-compressed.jpg);
  background-size: cover;
  background-position: bottom;
}

#jumbotron .lead, .brand-name {
  font-weight: 600 !important;
}

.label {
  font-weight: bold;
}

.intro-para {
  color: white;
  /* border-bottom: 3px inset var(--main-color); */
  padding: 4em 0;
  /* text-align: left; */
}
#top-container{
  margin-bottom: 4em;
}
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

/* #burger{
  padding: 2em;
} */

.btn, .btn2 {
  background: var(--secondary-color) !important;
  color: aliceblue!important;
  border: 3px groove transparent !important;
  font-size: 1.25em;
  padding: 0 .25em;
}

.btn:hover {
  /* border-color: rgba(63, 1, 44, 0.836) !important; */
  font-size: 1.03em;
  color: var(--main-color) !important;
}

.devoured-info {
  background: var(--secondary-color);
  padding: .5em;
}

.footer {
  background: #000;
  color: white;
  border-top: 5px solid var(--accent-color);
  padding-top: 1em;
  padding-bottom: 3.6947897em;
}

.footer div>div>a {
  text-decoration: none;
}

#footy-icons a {
  text-decoration: none;
  display: inline-flex;
  float: right;
  margin-right: .3em;
  margin-bottom: .3em;
}

#footy-icons {
  font-size: 1.69em;
}

@media screen and (max-width: 576px) {
  .btn, .devoured-info {
    font-size: .8em !important;
  }
}